* {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #007777;
}

#header {
    font-family: Georgia, "Times New Roman", Times, serif;
    position: absolute;
    left: -7.0em;
    top: 8.0em;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#header .title {
    color: #ffffff;
    font-size: 4.0em;
}

#main {
    background-color: #ffffff;
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-size: 11pt;
    margin: 0em 1.6em 0em 5.0em;
    box-shadow: 0 6px 12px 3px #000000;
}

#footer {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    font-size: 10pt;
    position: absolute;
    bottom: 7.0em;
    right: -5.8em;
    color: #ffffff;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#footer a {
    font-weight: bold;
    margin: 0em 0.4em;
}

#nav {
    background-color: #007777;
    height: 22px;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    padding: 0em 0.4em;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

#content {
    max-width: 960px;
    padding: 0em 1.0em 2.0em 1.0em;
    margin: 0px auto;
}

#content h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #004040;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    margin: 0em 0em 0.6em 0em;
    padding: 0.2em 1.0em;
    font-size: 2.0em;
    font-weight: normal;
    color: #ffffff;
}

#content p {
    text-align: justify;
}

.box {
    width: 230px;
    height: 230px;
    margin: 5px;
    padding: 0;
    background-color: #d0d0d0;
    display: inline-table;
}

.box:hover {
    background-color: #e0e0e0;
}

.box h2 {
    font-size: 18px;
    height: 24px;
    max-width: 225px;
    padding-left: 5px;
    background-color: #008080;
    color: #ffffff;
    font-weight: normal;
    overflow: hidden;
}
